<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.onepush.gateway.infrastructure.repository.mybatis.mapper.DataInterfaceMapper">
  <resultMap id="BaseResultMap" type="com.cy.onepush.gateway.infrastructure.repository.mybatis.bean.DataInterfaceDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="data_packager_code" jdbcType="VARCHAR" property="dataPackagerCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_creator" jdbcType="BIGINT" property="gmtCreator" />
    <result column="gmt_modifier" jdbcType="BIGINT" property="gmtModifier" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, `name`, uri, `method`, data_packager_code, `status`, `version`, description, gmt_created, gmt_modified,
    gmt_creator, gmt_modifier
  </sql>
  <sql id="INTERFACE_Column_List">
    interface.id, interface.code, interface.`name`, interface.uri, interface.`method`, interface.data_packager_code,
    interface.`status`, interface.`version`, interface.description, interface.gmt_created, interface.gmt_modified,
    interface.gmt_creator, interface.gmt_modifier
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ep_data_interface
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ep_data_interface
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByCodeAndVersion" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ep_data_interface
    where code = #{code,jdbcType=VARCHAR}
    and version = #{version,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" parameterType="com.cy.onepush.gateway.infrastructure.repository.mybatis.params.SearchDataInterfacesDOParams" resultMap="BaseResultMap">
    select
    <include refid="INTERFACE_Column_List" />
    from ep_data_interface interface
    inner join ep_project_module_gateway relations on relations.data_interface_code = interface.code and relations.`version` = interface.`version`
    <where>
      <if test="moduleCode != null">
        and relations.module_code = #{moduleCode,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and interface.name like concat('%', #{name,jdbcType=VARCHAR}, '%')
      </if>
      <if test="version != null">
        and interface.code like concat('%', #{version,jdbcType=VARCHAR}, '%')
      </if>
      <if test="status != null">
        and interface.status = #{status,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ep_data_interface
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCodeAndVersion" parameterType="java.lang.String">
    delete from ep_data_interface
    where code = #{code,jdbcType=BIGINT} and version = #{version,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cy.onepush.gateway.infrastructure.repository.mybatis.bean.DataInterfaceDO" useGeneratedKeys="true">
    insert into ep_data_interface (code, `name`, uri,
      `method`, data_packager_code, `status`, `version`,
      description, gmt_created, gmt_modified,
      gmt_creator, gmt_modifier)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{uri,jdbcType=VARCHAR},
      #{method,jdbcType=VARCHAR}, #{dataPackagerCode,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{version,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
      #{gmtCreator,jdbcType=BIGINT}, #{gmtModifier,jdbcType=BIGINT})
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.cy.onepush.gateway.infrastructure.repository.mybatis.bean.DataInterfaceDO" useGeneratedKeys="true">
    insert into ep_data_interface (code, `name`, uri,
    `method`, data_packager_code, `status`, `version`,
    description, gmt_created, gmt_modified,
    gmt_creator, gmt_modifier)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{uri,jdbcType=VARCHAR},
    #{method,jdbcType=VARCHAR}, #{dataPackagerCode,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{version,jdbcType=VARCHAR},
    #{description,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
    #{gmtCreator,jdbcType=BIGINT}, #{gmtModifier,jdbcType=BIGINT})
    on duplicate key update
    name = #{name,jdbcType=VARCHAR},
    uri = #{uri,jdbcType=VARCHAR},
    data_packager_code = #{dataPackagerCode,jdbcType=VARCHAR},
    status = #{status,jdbcType=BIT},
    version = #{version,jdbcType=VARCHAR},
    description = #{description,jdbcType=VARCHAR},
    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
    gmt_modifier = #{gmtModifier,jdbcType=BIGINT}
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cy.onepush.gateway.infrastructure.repository.mybatis.bean.DataInterfaceDO" useGeneratedKeys="true">
    insert into ep_data_interface
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="uri != null">
        uri,
      </if>
      <if test="method != null">
        `method`,
      </if>
      <if test="dataPackagerCode != null">
        data_packager_code,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="version != null">
        `version`,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="gmtCreator != null">
        gmt_creator,
      </if>
      <if test="gmtModifier != null">
        gmt_modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="dataPackagerCode != null">
        #{dataPackagerCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null">
        #{gmtCreator,jdbcType=BIGINT},
      </if>
      <if test="gmtModifier != null">
        #{gmtModifier,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cy.onepush.gateway.infrastructure.repository.mybatis.bean.DataInterfaceDO">
    update ep_data_interface
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        `method` = #{method,jdbcType=VARCHAR},
      </if>
      <if test="dataPackagerCode != null">
        data_packager_code = #{dataPackagerCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BIT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreator != null">
        gmt_creator = #{gmtCreator,jdbcType=BIGINT},
      </if>
      <if test="gmtModifier != null">
        gmt_modifier = #{gmtModifier,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cy.onepush.gateway.infrastructure.repository.mybatis.bean.DataInterfaceDO">
    update ep_data_interface
    set code = #{code,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      uri = #{uri,jdbcType=VARCHAR},
      `method` = #{method,jdbcType=VARCHAR},
      data_packager_code = #{dataPackagerCode,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=BIT},
      `version` = #{version,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gmt_creator = #{gmtCreator,jdbcType=BIGINT},
      gmt_modifier = #{gmtModifier,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>